body{
    background-color: grey;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.text{
    border:1px solid black;
    width: 180px ;
    margin: 100px;
    height: 270px;
    background-color: dimgrey;
    border-radius: 5px;
}
input[type=submit]{
    width: 180px;
    height: 30px
}
